@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding:0;
  
}
/* Tateti */
.colum1 { 
  grid-area: 1 / 1 / 2 / 2; 
}
.colum2 { 
  grid-area: 2 / 2 / 3 / 3; 
}
.colum3 { 
  grid-area: 3 / 3 / 4 / 4; 
}
/* mis estilos no son lo mejores pero trato de mejorar cada dia, esto va para rato asi que recuerda que todo esto es mental estaras bien */